@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
} 

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;e
}

html, body{
    min-width: 100%;
    background-color: #EBEBD3;
    font-family: var(--fonte1);
}

header{
    background-color: #3C3C3B;
    color: #f6f6e4;
    text-align: center;
    font-family: var(--fonte2);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: #f6f6e4;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: #f6f6e4;
    color: black;
}

section.imagem{
    background-color: rgba(93, 93, 92, 0.631);
    color: black;
    box-shadow: inset 6px 6px 13px 0px rgba(34, 34, 34, 0.8);
}

section.imagem > p{
    background-color: #3c3c3b98;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px rgb(46, 45, 45);
}

section#img01{
    background: url(imagens/tulipas.jpg) right center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background: url(imagens/cartas.jpg) right center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: #3C3C3B;
    color: #f6f6e4;
    text-align: center;
    padding: 10px;
}

/* Paleta de cores
https://coolors.co/ee4266-009f93-f18805-ebebd3-3c3c3b